<ion-header>
  <ion-navbar> <ion-title> Ionic Blank </ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Open PDF for Progressive Web Apps.</p>

  <button ion-button block (click)="downloadAndShare()">
    Download and Share
  </button>
</ion-content>
